<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/reserve" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="Reserve">
</form>

<style>
.text{
 position: absolute;
 top: 50%;
 right: 50%;
}
.button {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 24px;
 margin: 4px 2px;
 cursor: pointer;
}
</style>

{{#if available }}
<form align="center" action="/reserve" method="post">
    <button
        id="start" class="button is-dark is-large">
       <i class="far fa-play-circle">Reserve</i>
    </button>
</form>
<form align="center" action="/view_rooms" method="get">
    <button
        id="start" class="button is-dark is-large">
        <i class="float-left submit-button">View Rooms</i>
    </button>

</form>


{{else}}
<form align="center" action="/view_rooms" method="get">
    <button
        id="start" class="button is-dark is-large">
        <i class="float-left submit-button">View Rooms</i>
    </button>
 <!--  Time section  -->
<section id="app" class="hero is-info is-fullheight is-bold">
<div class="hero-body">
<div class="container has-text-centered">

<h2 align="center" class="title is-6">Reserved by {{name}}</h2>

   <!--  THE TIMER NUMBERS  -->
 <div align="center" id="timer">
   <span id="minutes">{{hours}}</span>
   <span id="middle">:</span>
   <span id="seconds">00</span>
 </div>

</div>
</div>
</div>
</section>
{{/if}}




